*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 .info {
     width: 100%;
     background: white;
     padding: 10px;
 }

 /*
  .info marquee{
    background: #efefef;
    border-radius: 5px;
  }
  */

 marquee span {
     margin: 0;
     padding: 0;
 }

 marquee span:nth-child(even) {
     color: var(--black);
 }

 marquee span:nth-child(odd) {
     color: var(--green);
 }

 marquee span:last-child {
     color: gold;
 }




 .shops {
     width: 100%;
     margin-top: 20px;
     background: white;
     padding: 10px;
 }



 .shop {
     width: 100%;
     border: 1px solid #D7D7D7;
     border-radius: 5px;
     padding: 10px;
     margin: 10px 0;
 }


 .shop img {
     width: 100%;
 }


 .shop-details {
     padding-bottom: 5px;
     border-bottom: 1px solid #efefef;
 }



 .shop-name {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     padding: 10px;
     border-bottom: 1px solid #efefef;
 }



 .category-and-rating {
     text-align: right;
 }



 .ratings .fa-star {
     color: gold;
 }



 .user-market-profile {
     display: flex;
     align-items: center;
     margin: 5px 0;
 }



 .owner {
     margin: 5px;
 }




 .shop a {
     display: block;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
     text-decoration: none;
     color: white;
     background: var(--red);
     margin-top: 10px;
 }