* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.shop-banner {
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(../images/image-03.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shop-banner h1 {
  font-weight: 900;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.socials {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials .fab {
  font-size: 20px;
  background: white;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.fab.fa-facebook {
  color: blue;
}

.fab.fa-twitter {
  color: rgb(0, 110, 255);
}

.fab.fa-discord {
  color: white;
  background: blue;
}

.fab.fa-linkedin {
  color: blue;
}

/* --------------OWNER DETAILS------------ */

.owner-details {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.owner-details ul {
  border-right: 1px solid #d7d7d7;
  padding: 5px;
  min-height: 100px;
}

.owner-details ul:last-child {
  border: none;
}

.owner-details ul li {
  list-style: none;
  margin: 3px 0;
}

.owner-details ul li:first-child {
  border: 1px solid #d7d7d7;
  padding: 3px;
  border-radius: 5px;
}

.owner-details ul li a {
  text-decoration: none;
  color: black;
}

.owner-details ul li a:hover {
  color: red;
  text-decoration: underline;
}

.owner-details ul .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------PRODUCTS CARDS------------- */

.products-parent-container {
  width: 100%;
  padding: 10px;
}

.products-parent-container h2 {
  font-weight: 800;
  margin: 10px 0;
}

.items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-cards {
  width: 200px;
  border: 1px solid #efefef;
  margin: 5px;
  border-radius: 5px;
}

.item-cards img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item-cards small {
  display: block;
  padding: 5px;
}

.price-and-rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.price-and-rating .fa-star {
  color: gold;
}

.available {
  border: 0.5px solid #efefef;
  border-left: 3px solid green;
  margin: 2px;
}

.item-cards button {
  display: block;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  transition: .3s;
  outline: none;
}

/* -----------------CHECK OUT PAGE---------- */

.check-out {
  width: 100%;
  height: 95vh;
  border: 2px solid #d7d7d7;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}

.check-out.active {
  display: none;
}

.head {
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .fa-close {
  height: 40px;
  width: 40px;
  background: #efefef;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 800;
}

.lists {
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
}

.lists::-webkit-scrollbar {
  width: 0;
}

.lists ul li {
  list-style: none;
  padding: 5px;
  border: 1px solid #efefef;
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.custom-check {
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  /* height: 0;
  width: 0; */
}

.custom-check .checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  pointer-events: none;
  border: 0.5px solid red;
  border-radius: 3px;
}

.custom-check:hover input ~ .checkmark {
  background-color: rgb(254, 226, 226);
}

.custom-check input:checked ~ .checkmark {
  background-color: red;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-check input:checked ~ .checkmark:after {
  display: block;
}

.lists ul li .fa-trash {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  background: #f1f1f1;
  color: #707070;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  cursor: pointer;
  transition: 0.3s;
}

.lists ul li .fa-trash.active {
  transform: scale(1);
}

.lists ul li img {
  width: 100px;
  height: 120px;
  display: block;
  margin: 3px;
}

.lists ul li .price {
  display: block;
}

.check-out .button-field {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px;
  background: white;
}

.check-out .button-field button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: red;
  color: white;
  box-shadow: 1px 2px;
}

.details {
  display: flex;
}

/* ------------QUANTITY COUNTER----------- */

.quantity-counter {
  padding: 3px;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  margin: 4px 0;
}



/* --------------CART BUTTON------------- */


.cart-button{
  position: fixed;
  height: 40px;
  width: 40px;
  right: 10px;
  bottom: 30%;
  cursor: pointer;
}



.fa-shopping-cart{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  color: gold;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.cart-counter{
  position: absolute;
  background: red;
  color: white;
  top: -3px;
  right: -3px;
  height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.cart-counter.active{
  opacity: 1;
}